.flip-card {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}


.flip-card:hover:after, .flip-card:hover {
  margin-top: -5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
  cursor: pointer;
}

/* .flip-card:after {
  font-family: FontAwesome;
  content: "\f0da";
  color:#fff;
  font-size: 2rem;
  position: absolute;
  left: 40%;
  top: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  border:2px solid white;
  transition: all 0.3s ease-in;
} */


.playMovie{
  font-size: 50px !important;
    background: transparent !important;
    border: none !important;
    color: white !important;
    left: 120px;
    top: 120px;
}

.playMovie:hover:after {
  margin-top: -5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
  cursor: pointer;
}

.backgroundPosition {
  background-position: center!important;
  background-size: cover!important;

}

.ant-modal-header {
  padding:0 !important;
  color: #fff !important;
  background: transparent !important;
  border-bottom:0 !important;
  border-radius: 0 !important;
}

.ant-modal-body{
  padding: 0 !important;
  height: 500px;
  width: 700px;
}